* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(2, 2, 58);
  display: grid;
  place-items: center;
  height: 100vh;
}

main {
  display: grid;
  grid-template-areas:
    "a a b"
    "c d d"
    "c e e";
  gap: 10px;
  width: 50%;
  margin: auto;
  grid-template-columns: 130px 70px 130px;
  grid-template-rows: 150px 70px 130px;
}

main div {
  padding: 2em;
  text-align: center;
  border-radius: 2px;
}

.item_a {
  background-color: orangered;
  grid-area: a;
}

.item_b {
  background-color: orange;
  grid-area: b;
}

.item_c {
  background-color: green;
  grid-area: c;
}

.item_d {
  background-color: rgb(0, 136, 255);
  grid-area: d;
}

.item_e {
  background-color: rgb(0, 136, 255);
  grid-area: e;
}

a{
  text-decoration: none;
  color: blue;
}

h1{
  color:blue;
  display: block;
  text-align: center;
  margin-top: 20px;}

  
  @media screen and (max-width:700px){
    body{
      width:100%;
      height: 50vh;
    }
    main {
      display: grid;
  grid-template-areas:
    "a  a"
    "b  c"
    "d e";
  gap: 10px;
  width: 50%;
  margin: auto;
  grid-template-columns: 2fr;

    }
  }

  @media screen and (max-width:375px){
    body{
      width:100%;
      height: 50vh;
    }
    main {
      display: grid;
  grid-template-areas:
    "a  "
    "b  "
    "c  "
    "d "
    " e";
  gap: 10px;
  width: 50%;
  margin: auto;
  grid-template-columns: 1fr;

    }
  }

  

